version: "3.8"

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8888:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # Nginx 主配置
      - ./certbot/conf:/etc/letsencrypt # 证书存储
      - ./certbot/www:/var/www/certbot # HTTP 验证目录
    depends_on:
      - fastapi
    networks:
      - app-network
    restart: unless-stopped

  certbot:
    image: certbot/dns-cloudflare
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/dns/cloudflare.ini:/etc/letsencrypt/cloudflare.ini:ro
    command: >
      certonly --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini
      --email memeking2046@gmail.com --agree-tos --no-eff-email --force-renewal
      -d meme.us.kg -d www.meme.us.kg
    # command: >
    #   certonly --webroot --webroot-path=/var/www/certbot
    #   --email memeking2046@gmail.com --agree-tos --no-eff-email
    #   -d meme.us.kg -d www.meme.us.kg
    # command: >
    #   sh -c "trap exit TERM;
    #   while :; do
    #     sleep 12h & wait $${!};
    #     certbot renew --webroot --webroot-path=/var/www/certbot --quiet;
    #     nginx -s reload;
    #   done"
    networks:
      - app-network

  fastapi:
    image: registry.cn-chengdu.aliyuncs.com/jusu/pymecli:latest
    container_name: fastapi
    command: >
      fast 0.0.0.0 --port 8000
      --rule https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release
      --my-rule https://raw.githubusercontent.com/meme2046/data/refs/heads/main/clash
      --proxy socks5://192.168.123.7:7890
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
